@model IEnumerable<PetViewModel>

@{
    ViewData["Title"] = "ViewAllAnimalType";
    PetViewModel? petVM = Model.FirstOrDefault();
}

<div class="container">
    <div class="row p-2">
        <div class="col-md-12">
            <h3>All @petVM?.AnimalType.AnimalTypeName Type Pet</h3>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PetName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Color)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OwnerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayName("Image")
                        </th>                         
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PetName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Color)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OwnerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <img src="@("~/images/" + item.ImageName)" asp-append-version="true" style="width:60px;" />
                            </td>                             
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

